name: flutter_app_template
description: A new Flutter project.
version: 1.0.0+1
environment:
  sdk: ">=2.6.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter
  test: ^1.3.0

flutter:
  assets:
  - assets/

  fonts:
  - family: Roboto
    fonts:
    - asset: assets/fonts/Roboto-Regular.ttf
  - family: MaterialIcons
    fonts:
    - asset: assets/fonts/MaterialIcons-Regular.ttf
